<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap 101 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <style type="text/css">
    	h1 {
			color:lightgray;
		}
	</style>
  </head>

<body style="background:black">
  <center><img src="logo.png" /></center>

  <div class="row">
  <% members.each do |member| %>
      <div class="col-sm-3 col-md-3">
      <h1><center><%= member["name"] %></center></h1>
      <ul class="list-group">
        <li class="list-group-item list-group-item-success"><img src=<%= member["name"]+".png" %>/></li>
        <li class="list-group-item list-group-item-info">Glimmer <%= member["glimmer"] %></li>
        <li class="list-group-item list-group-item-warning">Grimoire Score <%= member["grimoire_score"] %></li>
        <li class="list-group-item list-group-item-danger">Level <%= member["characters"][0]["power_level"] %></li>
        <li class="list-group-item list-group-item-success">Total minutes played <%= member["characters"][0]["total_minutes_played"] %></li>
        <li class="list-group-item list-group-item-success">Progress to next level <%= member["characters"][0]["percent_to_next_level"] %></li>
      </ul>
      </div>
  <% end %>
  </div>

  Version 2
  <br/>
  <div class="row">
  <% members.each_with_index do |member| %>
      <div class="col-sm-3 col-md-3">
        <h1><center><%= member["name"] %></center></h1>
        <ul class="list-group">
          <li class="list-group-item list-group-item-success">
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <img src=<%= member["name"]+".png" %>/>
              </div>
              <div class="col-sm-6 col-md-6">
                <p> Glimmer <%= member["glimmer"] %> </p>
                <p> Grimoire Score <%= member["grimoire_score"] %> </p>
              </div>
            </div>
          </li>
        </ul>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <% member["characters"].each_with_index do |character, i| %>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading_<%=member["name"]%>_<%=i%>">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse_<%=member["name"]%>_<%=i%>" aria-expanded= <%= i == 0 ? "true" : "false" %> aria-controls="collapse_<%=member["name"]%>_<%=i%>">
                  <%= "#{character['race']} #{character['gender']} #{character['class']}".capitalize %>
                </a>
              </h4>
            </div>
            <div id="collapse_<%=member["name"]%>_<%=i%>" class= "<%= i == 0 ? "panel-collapse collapse in" : "panel-collapse collapse"%>"  role="tabpanel" aria-labelledby="heading_<%=i%>">
              <div class="panel-body">
                <ul class="list-group">
                  <li class="list-group-item list-group-item-info">Level <%= character["power_level"] %></li>
                  <li class="list-group-item list-group-item-warning">Total minutes played <%= character["total_minutes_played"] %></li>
                  <li class="list-group-item list-group-item-danger">Progress to next level <%= character["percent_to_next_level"] %></li>
                </ul>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
  <% end %>
  </div>
</body>